* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Outfit';
}

body {
    background-color: #d5e1ef;   
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: white;
    width:320px;
    padding: 16px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}

.imgQR {
    border-radius: 12px;
    margin-bottom: 24px;
}

.imgQR img {
    width: 100%;
    border-radius: 8px;
}

.txt1 {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0px;
    line-height: 120%;
    color: #1f314f;
    margin-bottom: 16px;
    padding: 0 5px;
    
}

.txt2 {
    font-size: 15px;
    letter-spacing: 0.2px;
    line-height: 140%;
    color: #68778d;
    padding: 0 10px;
}

